@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #27282c !important;
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

h2 {
  color: #45f3ff;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 40px !important;
}

#root > div > form > input.form.my-2.form-control,
#root > div > form > input:nth-child(3) {
  background: transparent;
  border: none;

  outline: none;
  color: white;
  font-size: 1em;
  letter-spacing: 0.05em;
}

.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 31px 0;
  font-size: 0.85em;
  color: #8f8f8f;
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2) {
  color: #45f3ff;
}

#root > div > form > button {
  border: 1px solid #45f3ff;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 11px 25px;
  width: 100px;
  margin-top: 40px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

#root > div > form > button:hover {
  background: #45f3ff;
  color: #23242a;
}
